<!DOCTYPE html>
<html>
<head>
    <% include ../views/libs.ejs %>
</head>
<body>
<% include ../views/header.ejs %>
<div class="pg_content">
    <% include ../views/pg_content.ejs %>
    <div class="pg_content_add_img">
        <% include ../views/pg_content_add_img_text.ejs %>
        <% include ../views/pg_content_add_img_form.ejs %>
    </div>
</div>
<% include ../views/footer.ejs %>
</body>
</html>