<footer class="pg_footer">
        <span class="pg_footer_text">
            <p class="pg_footer_text_name">Соколов Кирилл, гр.451002</p>
            <p class="pg_footer_text_year">2017</p>
        </span>
</footer>