<div class="gallery_img">
    <div class="img_block">
        <a target="_blank" href="images/first_slider_picture.jpg">
            <img src="images/first_slider_picture.jpg" alt="Trolltunga Norway">
        </a>
    </div>
    <div class="desc_block">
        <div class="desc">
            <h3 class="img_name">Name 1</h3>
            <h3 class="img_author">Author1</h3>
        </div>
        <div class="download">
            <img src="images/load.png" alt="download">
        </div>
    </div>
</div>

<div class="gallery_img">
    <div class="img_block">
        <a target="_blank" href="images/first_slider_picture.jpg">
            <img src="images/first_slider_picture.jpg" alt="Trolltunga Norway">
        </a>
    </div>
    <div class="desc_block">
        <div class="desc">
            <h3 class="img_name">Name 1</h3>
            <h3 class="img_author">Author1</h3>
        </div>
        <div class="download">
            <img src="images/load.png" alt="download">
        </div>
    </div>
</div>

<div class="gallery_img">
    <div class="img_block">
        <a target="_blank" href="images/first_slider_picture.jpg">
            <img src="images/first_slider_picture.jpg" alt="Trolltunga Norway">
        </a>
    </div>
    <div class="desc_block">
        <div class="desc">
            <h3 class="img_name">Name 1</h3>
            <h3 class="img_author">Author1</h3>
        </div>
        <div class="download">
            <img src="images/load.png" alt="download">
        </div>
    </div>
</div>

<div class="gallery_img">
    <div class="img_block">
        <a target="_blank" href="images/first_slider_picture.jpg">
            <img src="images/first_slider_picture.jpg" alt="Trolltunga Norway">
        </a>
    </div>
    <div class="desc_block">
        <div class="desc">
            <h3 class="img_name">Name 1</h3>
            <h3 class="img_author">Author1</h3>
        </div>
        <div class="download">
            <img src="images/load.png" alt="download">
        </div>
    </div>
</div>

<div class="gallery_img">
    <div class="img_block">
        <a target="_blank" href="images/first_slider_picture.jpg">
            <img src="images/first_slider_picture.jpg" alt="Trolltunga Norway">
        </a>
    </div>
    <div class="desc_block">
        <div class="desc">
            <h3 class="img_name">Name 1</h3>
            <h3 class="img_author">Author1</h3>
        </div>
        <div class="download">
            <img src="images/load.png" alt="download">
        </div>
    </div>
</div>