<!DOCTYPE html>
<html>
  <head>
    <% include ../views/libs.ejs %>
  </head>
  <body>
    <% include ../views/header.ejs %>
    <div class="pg_content">
        <% include ../views/pg_content.ejs %>
        <% include ../views/pg_content_welcome.ejs %>
    </div>
    <% include ../views/footer.ejs %>
  </body>
</html>
