<meta charset="UTF-8">
<title>PhotoSearch</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">