<div class="pg_content_add_img_text">
    <p class="pg_content_add_img_text_title">Поиск изображения</p>
    <p class="pg_content_add_img_text_about_1">Загрузите Ваше изображение для того, чтобы найти похожие</p>
    <p class="pg_content_add_img_text_about_2">Для этого заполните предложенные поля, выберете Ваше изображение и нажмите на кнопку поиска</p>
    <p class="pg_content_add_img_text_info">Информация</p>
</div>