<div class="pg_content_welcome">
    <p class="pg_content_welcome_logo"><img src="images/logo.png"  alt="PhotoSearch"></p>
    <div class="pg_content_welcome_text">
        <p class="pg_content_welcome_text_title">Онлайн сервис для поиска похожих фотографий и картинок</p>
    </div>
    <p class="pg_content_welcome_load_img"><img src="images/load.png"  alt="PhotoSearch"></p>
    <div class="pg_content_welcome_button">
        <a href="add_img">
            <button class="pg_content_welcome_button_load">Начать поиск</button>
        </a>
    </div>

</div>