<div class="pg_content_add_img_form">
    <form action="/result" method="post">
        <fieldset>
            <input type="text" name="name" placeholder="Название изображения">
            <input type="text" name="author" placeholder="Автор">
        </fieldset>
    </form>
    <div class="pg_content_add_img_button_choose_block">
        <button href="#" class="pg_content_add_img_button_choose">Выбрать изображение</button>
    </div>
    <div class="pg_content_add_img_button_send_block">
        <a href="result">
            <button class="pg_content_add_img_button_send">Начать поиск</button>
        </a>
    </div>
</div>