<!DOCTYPE html>
<html>
<head>
    <% include ../views/libs.ejs %>
</head>
<body>
<% include ../views/header.ejs %>
<div class="gallery">
    <div class="gallery_block">
        <% include ../views/gallery_img.ejs %>
    </div>
</div>
<% include ../views/footer.ejs %>
</body>
</html>