<li class="first_image">
    <p>
        <img src="images/first_slider_picture.jpg" alt="first_image">
    </p>
</li>
<li class="second_image">
    <img src="images/second_slider_picture.jpg" alt="second_image">
</li>
<li class="third_image">
    <img src="images/third_slider_picture.jpg" alt="third_image">
</li>
<li class="fourth_image">
    <img src="images/fourth_slider_picture.jpg" alt="fourth_image">
</li>
<li class="fifth_image">
    <img src="images/fifth_slider_picture.jpg" alt="fifth_image">
</li>